/* The only rule that matters */
#video-background {
/*  making the video fullscreen  */
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;

}
video-background {
	animation-play-state:
}

.container {
	text-decoration-color: white;
}
body {background-color:#555;}
.navbar-fixed {position: absolute;z-index:999999999;}
.callout{
	text-align: center;
	padding: 140px;
	color: white;
}

#add-user-form input::placeholder{

  color: white;
}

.submit {
    text-decoration: none;
    color: #fff;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    cursor: pointer;
}

@media only screen and (min-width: 992px)
materialize.min.css:6
html {
    font-size: 14.5px;

}
